*{ 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

h1 { 
  font-size: 0.75em;
  text-transform: uppercase; 
}
/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color:$base-colour; text-decoration: none;}
a:hover { color:$base-colour; }

/* bicubic resizing for non-native sized IMG:
code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }
@mixin transform($radius) {
  -webkit-transform:rotate($radius);
      -ms-transform:rotate($radius);
          transform:rotate($radius);
}

@mixin transition($effect) {
  -webkit-transition:$effect;
      -ms-transition:$effect;
          transition:$effect;
}
.hidden {
  display: none;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hidden-text {
  position: absolute;
  text-indent: -999em;
}
.text-offset {
  text-indent: 100%;
  overflow:hidden;
  white-space: nowrap;
}

/*******************
THEME
**********************/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
main{
  h2 {
    color: #282828;
    font-size: 2.250em;
    background-color: $offwhite-colour;
    span {
      color: $base-colour;
    }
    padding: 15px 24px;
    margin: 0;
  }
}

article {
  border-bottom: 26px solid $offwhite-colour;
  h3 {
    text-transform: uppercase;
    font-size: 0.75em;
    padding: 0 24px;
    margin: 50px 0 25px;
  }
  p {
    padding: 0 60px 0 24px;
    font-size: 0.688em;
    line-height: 1.636em;
    &.cta {
      margin: 25px 0 80px;
      a {
        font-size: 0.625rem;
        font-weight: bold;
        border: 2px solid $base-colour;
        padding: 6px 10px;
        color: $base-colour;        
      }
    }
  }
}
.about-text {
  width: 100%;
  padding:10px;
  position: static;
  padding: 10px;
}
.overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: url(../images/overlay-transparent-background.png);
  background: rgba(254,224,111,0.95) none;
}
.close {
  background-color: transparent;
  border: 0;
  padding: 2px 0;
  color: white;
  margin: 10px 10px 30px;
  border-bottom: 1px solid white;
}
.close:hover,
.close:focus{
  color: #000;
  border-bottom: 1px solid black;
}
.mikes-head {
  position: static;
  // margin-top: -20px;
  z-index: -1;
  width: 80%;
}

@media only screen and (min-width: 767px) {
  .close {
    text-indent: 100%;
    overflow:hidden;
    white-space: nowrap;
    background-color: transparent;
    background-image: url(../svgs/Close.svg);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40px;
    z-index: 2;
    right: 10%;
    border: 0;
    padding: 0;
  }
  .close:hover,
  .close:focus{
    border-bottom: 0;
  }
  .about-text {
    position: absolute;
    width: 40%;
    height: 50%;
  }
  .mikes-head {
    position: absolute;
    left: 50%;
    top: -25%;
    width: auto;
  }
}
