*{ 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

h1 { 
  font-size: 0.75em;
  text-transform: uppercase; 
}
/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color:$base-colour; text-decoration: none;}
a:hover { color:$base-colour; }

/* bicubic resizing for non-native sized IMG:
code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }
@mixin transform($radius) {
  -webkit-transform:($radius);
  -ms-transform:($radius);
  -moz-transform:($radius);
  transform:($radius);
}
.effect {
  a {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    &:hover span{
      -webkit-transform: rotateX(90deg) translateY(-22px);
      -moz-transform: rotateX(90deg) translateY(-22px);
      transform: rotateX(90deg) translateY(-22px);
    }
    span:before {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: #0965a0;
      content: attr(data-hover);
      -webkit-transition: background 0.3s;
      -moz-transition: background 0.3s;
      transition: background 0.3s;
      -webkit-transform: rotateX(-90deg);
      -moz-transform: rotateX(-90deg);
      transform: rotateX(-90deg);
      -webkit-transform-origin: 50% 0;
      -moz-transform-origin: 50% 0;
      transform-origin: 50% 0;
    }
  }
}
@mixin transition($effect) {
  -webkit-transition:$effect;
  -ms-transition:$effect;
  -moz-transition:$effect;
  transition:$effect;
}
.hidden {
  display: none;
}
.center {
  @include transform(translate(-50%, -50%));
  position: absolute;
  left: 50%;
  top: 50%;
}
.hidden-text {
  position: absolute;
  text-indent: -999em;
}
.text-offset {
  text-indent: 100%;
  overflow:hidden;
  white-space: nowrap;
}
.sticky {
  position: fixed !important;
}
.absolute{
  position: absolute
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
/*******************
THEME
**********************/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
main{
  background-color: $offwhite-colour;
  position: relative;
  min-height: 370px;
  h2 {
    color: #282828;
    font-size: 2.250em;
    max-width: 400px;
    margin-left: auto;
    position: relative;
    margin-right: auto;
    span {
      color: $base-colour;
    }
  }
}

article {
  margin-bottom: 60px;
  background: #fff;
  padding-bottom: 60px;
  img {
    width: 100%; 
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.75em;
  }

  h3, h2, h1 {
    text-transform: uppercase;
    padding: 0 7.068%;
    margin: 50px 0 25px;
  }
  p {
    padding: 0 7.068%;
    font-size: 0.8em;
    line-height: 1.636em;
    &.cta {
      a {
        font-size: 0.625rem;
        font-weight: bold;
        display: inline-block;
        border: 2px solid $base-colour;
        padding: 6px 10px;
        color: $base-colour;        
      }
    }
  }
}
.about-text {
  width: 100%;
  padding:10px;
  position: static;
  padding: 10px;
}
.overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: url(../images/overlay-transparent-background.png);
  background: rgba(254,224,111,0.95) none;
}
.close {
  outline: 0;
  background-color: transparent;
  border: 0;
  padding: 2px 0;
  color: white;
  margin: 10px 10px 30px;
  border-bottom: 1px solid white;
}
.close:hover,
.close:focus{
  color: #000;
  border-bottom: 1px solid black;
}
.mikes-head {
  position: static;
  // margin-top: -20px;
  z-index: -1;
  width: 80%;
}
@media only screen and (min-width: 320px) {
  .center-wrap {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  main{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding:7.068%;
    h2 {
      margin-bottom: 53px;
    }
  }
  article {
      
      img{
        
      }
  }
}

@media only screen and (min-width: 767px) {
  .close {
    text-indent: 100%;
    overflow:hidden;
    white-space: nowrap;
    background-color: transparent;
    background-image: url(../images/Close.png);
    background-image: url(../svgs/Close.svg), none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40px;
    z-index: 2;
    right: 10%;
    border: 0;
    padding: 0;
  }
  .close:hover,
  .close:focus{
    border-bottom: 0;
  }
  .about-text {
    position: absolute;
    width: 40%;
    height: 50%;
  }
  .mikes-head {
    position: absolute;
    left: 50%;
    top: -25%;
    width: auto;
  }
}
@media only screen and (min-width: 1000px) {
  main{
    max-width: 1000px;
    padding-right: 60px;
    padding-left: 60px;
    h2 {
      width: 570px;
      margin: 0;
      margin-bottom: 60px;
      margin-right: 60px;
      margin-left: 0;
      float: left;
      max-width: 570px;
    }
  }
  .center-wrap {
    max-width: 1000px;
  }
  article:nth-child(even){
    margin-right: 60px;
  }
  article {
    width: 570px;
  }
}
