h1 { 
  font-size: 0.75em;
  text-transform: uppercase; 
}

h2 {
  color: #282828;
  font-size: 2.250em;
  background-color: $offwhite-colour;
  span {
    color: $base-colour;
  }
  padding: 15px 24px;
  margin: 0;
}

article {
  h3 {
    text-transform: uppercase;
    font-size: 0.75em;
    padding: 0 24px;
    margin: 50px 0 25px;
  }
  p {
    padding: 0 24px;
    font-size: 0.688em;
    line-height: 1.636em;
    &.cta {
      margin: 25px 0 80px;
      a {
        font-size: 0.625rem;
        font-weight: bold;
        border: 2px solid $base-colour;
        padding: 6px 10px;
        color: $base-colour;
        
      }
    }
  }

  margin-bottom: 40px;
}
