

/* -------------------------------------------- *
 * Top Navigation
 */
header,
footer {
	max-width: 650px;
	margin: 0 auto;
	position: relative;
	padding: 30px 10px;
	overflow: hidden;
}
header {
	h1 {
		text-transform: uppercase;
	}
}
.top-menu {
	position: absolute;
	top: 0;
	right: 100%;
	@include transition(all 2s ease);
	list-style: none;
	margin: 0;
	padding: 0;
	h1 {
		text-transform: uppercase;
	}
	li {
		float: left;
    &:hover {
      cursor: pointer;
    }
		a {
			padding: 38px 31px;
			font-size: 0.75em;
			display: block;
			color: #000;
			letter-spacing: 2px;
			&:hover,
			&:focus {
				color: black;
			}
		}
	}
}

h1 {
	opacity: 1;
	letter-spacing: 2px;
	@include transition(all 4s ease);
	a,
	a:visited,
	a:active {
		color: #000;
	}
}
.shown-sub {
	.top-menu {
		right: 30px;
	}
	h1 {
		opacity: 0;
		@include transition(all 0.2s ease);
	}
}

#scroll-arrow {
	opacity: 0;
}
.right-floating-nav {
 	position: absolute;
 	display: none;
}
#go-top {
	opacity: 0;
	@include transition(opacity 0.2s ease)
}
#go-top.is-shown {
	opacity: 1;
}
.no-svg .go-top-icon,
.no-svg .soundcloud-icon,
.no-svg .instagram_icon,
.no-svg .twitter-icon {
	display: inline-block;
}
.no-svg .go-top-icon {
	background-image: url('../images/Scroll_button_icon.png');
	width: 22px;
	height: 22px;
}
.no-svg .soundcloud-icon {
	background-image: url('../images/soundcloud_icon.png');
	width: 35px;
	height: 15px;
}
.no-svg .instagram_icon {
	background-image: url('../images/Instagram_icon.png');
	width: 21px;
	height: 22px;
}
.no-svg .twitter-icon {
	background-image: url('../images/twitter_icon.png');
	width: 27px;
	height: 22px;
}

@media only screen and (min-width: 320px) {
	.shown-sub {
		h1{
			padding-left: 60px;
		}
	}
}
@media only screen and (min-width: 767px) {
	.shown-sub {
		h1 {
			opacity: 1;
		}
		.top-menu{
			right: 60px;
			li:last-child a{
				padding-right: 0;
			}
		}
	}
	
	#header {
		max-width: 970px;
	}
	header {
		padding-right: 0;
		padding-left: 0;
	}
	.spin-plus {
		display: none;
	}
	.right-floating-nav {
		top: 60px;
		display: block;
		right: -15px;
		width: 34px;
		text-align: center;
		img {
			display: inline-block;
		}
	}
    .registation-marks {
    	@include transition(all 0.2s ease);
     	left: -5px;
     	width: 12px;
     	top: 60px;
     	&:hover span {
     		height: 12px;
     	}
     	span {
     		width: 100%;
     		display: block;
     		height: 5px;
			@include transition(height 0.2s ease);
     		&:nth-child(1) {
				background: #ffe87e;
			}
			&:nth-child(2) {
				background: #ff9c61;
			}
			&:nth-child(3) {
				background: #ff6c58;
			}
			&:nth-child(4) {
				background: #b71457;
			}
			&:nth-child(5) {
				background: #2e0180;
			}
     	}
     	span:hover {
     		height: 24px;
     	}
    }
}

@media only screen and (min-width: 1440px) {
  header {
    max-width: 1200px;
  }
}