// Variables
// --------------------------

$fa-font-path:        "../fonts" !default;
$fa-version:          "4.0.3" !default;
$fa-css-prefix:       fa !default;
$fa-inverse:          #000 !default;

$base-colour: 		#6f79fe;