{% extends '../base.html' %}

{% block content %}
  <h2>Digital craftsman - communicating through <span>design</span>, <span>video</span> and <span>sound</span>.</h2>
  <article>
    <img src="images/arnards_small.jpg" alt="#">
    <h3>Nils Frahm &amp; Olafur Arnalds</h3>
    <p>Official music video for Erased Tapes. A visual piece exploring the hazy slow-building ambient piece a2 by Nils Frahm &amp; Olafur Arnalds.</p>
    <p class="cta">
      <a href="#">Show me</a>
    </p>
  </article>

  <article>
    <img src="images/rivals_small.jpg" alt="#">
    <h3>Rival Consoles</h3>
    <p>Official music video for Rival Consoles. Light, glass and circuit bent analogue mixers all thrown together.</p>
    <p class="cta">
      <a href="#">Show me</a>
    </p>
  </article>

  <article>
    <img src="images/omyom_small.jpg" alt="#">
    <h3>Rival Consoles</h3>
    <p>Art direction, branding and digital design for kids clothing start up company.</p>
    <p class="cta">
      <a href="#">Show me</a>
    </p>
  </article>
{% endblock %}