{% extends '../base.html' %}

{% block content %}
  <h2>Digital craftsman - communicating through <span>design</span>, <span>video</span> and <span>sound</span>.</h2>
  <article>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="/images/arnards.jpg" media="(min-width: 400px)">
      <!--[if IE 9]></video><![endif]-->
      <img srcset="/images/arnards_small.jpg" alt="#">
    </picture>
    <h3>Nils Frahm &amp; Olafur Arnalds</h3>
    <p>Official music video for Erased Tapes. A visual piece exploring the hazy slow-building ambient piece a2 by Nils Frahm &amp; Olafur Arnalds.</p>
    <p class="cta cl-effect-2">
      <a href="/work/nils-frahm" class="effect"><span data-hover="Shoe me">Show me</span></a>
    </p>
  </article>

  <article>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="/images/omyom.jpg" media="(min-width: 400px)">
      <!--[if IE 9]></video><![endif]-->
      <img srcset="/images/rivals_small.jpg" alt="#">
    </picture>
    <h3>Rival Consoles</h3>
    <p>Official music video for Rival Consoles. Light, glass and circuit bent analogue mixers all thrown together.</p>
    <p class="cta cl-effect-2">
      <a href="#"><span data-hover="Shoe me">Show me</span></a>
    </p>
  </article>

  <article>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="/images/omyom.jpg" media="(min-width: 400px)">
      <!--[if IE 9]></video><![endif]-->
      <img srcset="/images/omyom_small.jpg" alt="#">
    </picture>
    <h3>Omyom</h3>
    <p>Art direction, branding and digital design for kids clothing start up company.</p>
    <p class="cta cl-effect-2">
      <a href="#"><span data-hover="Shoe me">Show me</span></a>
    </p>
  </article>

  <article>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="/images/capella.jpg" media="(min-width: 400px)">
      <!--[if IE 9]></video><![endif]-->
      <img srcset="/images/capella_small.jpg" alt="#">
    </picture>
    <h3>King Capella</h3>
    <p>Offical music video for <em>Rival consoes</em>. Light, glass and circuit bent analoguemixers all thrown together</p>
    <p class="cta cl-effect-2">
      <a href="#"><span data-hover="Shoe me">Show me</span></a>
    </p>
  </article>
{% endblock %}