<footer>
	<div class="center-wrap">
		<h1>&copy; {{ date|date('Y') }} Michael Zoidis</h1>
	</div>
</footer>
<div class="overlay primary-overlay relative-parent" role="dialog" aria-hidden="false">
	<div class="unknown-centering">
		<h1 class="purple-heading">Michael Zoidis</h1>
		<h2 class="mbl" >is building a new digital home for his work to live in</h2>
		<p><a class="black-link" href="mailto:mikezoidis@hotmail.com" target="_blank" title="email me">hello@michaelzoidis.com</a></p>
		<p><a class="black-link" href="https://twitter.com/mikezoidis" target="_blank" title="Twitter" >twitter.com/michaelzoidis</a></p>
		<img class="pull-right" src="/images/spanner_icon.png" role="presentaional" alt="" />
	</div>
</div>
<div class="overlay hidden secondary-overlay" role="dialog" aria-hidden="true">
	<button class="close">Close</button>
	<div class="about-text hidden">
		<div class="relative-wrapper">
			<h2 class="hidden-text">About me</h2> 
			<p>Michael Zoidis is a multi-disciplined designer, unravelling a career in visual and user-experience design. I strive for better communication and engaging interaction through graphic design, video and sound. Always learning, exploring and drawing inspiration from a wide variety of areas, I strive to bring together experimental, playful and immersive experiences that absorb all the senses.</p>
			<h2>Clients Include;</h2>
			<p>Penguin, Erased Tapes, Kurt Geiger, Studio Moross, Signature Pictures, Victoria &amp; Albert Museum, VideoJug, Farm Group TV	</p>	
			<img class="mikes-head" src="/images/myhead.jpg" alt="" />
		</div>
	</div>
	<div class="contact-text hidden">
		<div class="relative-wrapper">
			<h2 class="hidden-text">Contact Us</h2> 
			<p>Michael Zoidis is a multi-disciplined designer, unravelling a career in visual and user-experience design. I strive for better communication and engaging interaction through graphic design, video and sound. Always learning, exploring and drawing inspiration from a wide variety of areas, I strive to bring together experimental, playful and immersive experiences that absorb all the senses.</p>
		</div>
	</div>
</div>
<script src="/js/plugins.js"></script>
<script src="/js/init.min.js"></script>
</body>