<!doctype html>
<html lang="en" class="no-js no-svg">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <title>{{ name|title }}</title>
  {% include 'favicons.html' %}
  <link rel="stylesheet" href="/css/styles.css">
  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
</head>
<body>
  
  <header>
      <h1 id="header"><a href="/" >Michael Zoidis</a></h1>
      <nav>
        <ul id="menu" class="top-menu">
          <li><a class="js-about">About</a></li>
          <li><a href="/work">Work</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <button class="spin-plus" title="menu"><span class="cross"></span><span class="hidden-text">menu</span></button>
  </header>