<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <title>Michael Zoidis | {{ name|title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js');})(document.documentElement);</script>
</head>

<body>
  <header>
    <div class="registation-marks" role="presentation">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
      <h1 id="header">Michael Zoidis</h1>
      <nav>
        <ul id="menu" class="top-menu">
          <li><a href="about">About</a></li>
          <li><a href="work">Work</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
      <button class="spin-plus" title="menu"><span ></span></button>
  </header>