<!doctype html>
<html lang="en" class="no-js no-svg">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <title>{{ name|title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
</head>
<body>
  
  <header>
    <div class="registation-marks absolute" role="presentation">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
      <h1 id="header"><a href="/" >Michael Zoidis</a></h1>
      <nav>
        <ul id="menu" class="top-menu">
          <li><a class="js-about">About</a></li>
          <li><a href="/work">Work</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <button class="spin-plus" title="menu"><span class="cross"></span><span class="hidden-text">menu</span></button>
      <div class="right-floating-nav absolute">
      <a href="https://twitter.com/mikezoidis" target="_blank" title="Twitter" >
        <object type="image/svg+xml" data="/svgs/twitter.svg" class="twitter-icon"></object>
      </a>
      <a href="http://instagram.com/mikezoidis" target="_blank" title="Instagram" >
        <object type="image/svg+xml" data="/svgs/instagram.svg" class="instagram_icon"></object>
      </a>
      <a href="https://soundcloud.com/mjz" target="_blank" title="Soundcloud" >
        <object type="image/svg+xml" data="/svgs/soundcloud.svg" class="svg-icon soundcloud-icon"></object>
      </a>
      <a href="#" target="_blank" title="Back to top" id="go-top">
        <object type="image/svg+xml" data="/svgs/scroll_up.svg" class="svg-icon go-top-icon"></object>
      </a>
    </div>
  </header>